<h2>Subcenter <%= @subcenter.name %> <%= "(control)" if @subcenter.control? %> in <%= @subcenter.phc.name %></h2>
<h4>Patients</h4>
<ul>
  <% @subcenter.patients.each do |p| %>
    <li><%= link_to p.name, p %></li>
  <% end %>
</ul>
