<h2>Cases for Today</h2>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Taayi Card Number</td>
      <td>Subcenter</td>
      <td>ANM Name</td>
      <td>Next Appointment</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'appt_today', :collection => @appts_today %>
  </tbody>
</table>

<h2>Late Cases</h2>
<table>
  <thead>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Taayi Card Number</td>
      <td>Subcenter</td>
      <td>ANM Name</td>
      <td>Next Appointment</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'appt_today', :collection => @overdue_appts %>
  </tbody>
</table>
